.wrapper {
   min-height: 100vh;
   width: 100%;
   background-color: #f1f4f9;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   padding: 0 30px;
}

.visual-test {
   background-color: #81f;
}
